[user]
	email = r@rodg.co
	name = Rodrigo Couto
[init]
	defaultBranch = main
[commit]
	template = /home/rodrigo/.gitmessage
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
